echo node_modules/ > .gitignore
echo .gitignore >> .gitignore
echo .DS_Store >> .gitignore
echo .env >> .gitignore
echo build/ >> .gitignore
echo dist/ >> .gitignore
echo .cache/ >> .gitignore
echo .vscode/ >> .gitignore